// Wrapper
.carousel {
  margin: 0 10px;
  background-color: #ffffff;
  position: relative;
  height: 100%;
}

// Title
.carousel-title { }

// Loading
.slick-loading {
  .slick-list {
    background: #ffffff url(asset-path('ajax-loader.gif', image)) center center no-repeat;
  }

  .slick-track {
    visibility: hidden;
  }

  .slick-slide {
    visibility: hidden;
  }
}

// Slider
.slider {
  display: none;
}

.slick-slider {
  display: block;
  position: relative;
  margin-bottom: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  -webkit-tap-highlight-color: transparent;

  .slick-list, .slick-track, .slick-slide, .slick-slide img {
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    }
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;

  &.slick-loading img {
    display: none;
  }

  &.dragging img {
    pointer-events: none;
  }

  &.slick-active { }

  &.slick-cloned { }
}

// Items
.slick-slide {
  .product-title { }

  .product-image {
    img {
      image-rendering: optimizeSpeed;
      -ms-interpolation-mode: bicubic;
      max-width: 100% !important;
      height: auto;
      border: 0;
    }

    @media \0screen {
      img {
        width: auto;
      }
    }
  }

  .product-description { }

  .product-price { }
}

// Arrows
.slick-arrows {
  position: absolute;
  width: 100%;
  top: 50%;
  bottom: 50%;
}

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;

  &:before {
    font-family: 'FontAwesome';
    font-size: 20px;
    line-height: 1;
    color: #000000;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &:hover {
    outline: none;
    background: transparent;
    color: transparent;

    &:before {
      opacity: 1;
    }
  }
}

.slick-prev {
  left: 10px;

  &.slick-disabled:before {
    opacity: 0.25;
  }

  &:before {
    content: "\f053";
  }
}

.slick-next {
  right: 10px;

  &:before {
    content: "\f054";
  }
}

// Dots
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;

  li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;

    &.slick-active button:before {
      opacity: 0.75;
      content: "\f192";
    }

    button {
      font-family: 'FontAwesome';
      border: 0;
      background: transparent;
      display: block;
      height: 22px;
      width: 22px;
      outline: none;
      line-height: 0;
      font-size: 0;
      color: transparent;
      padding: 5px;
      cursor: pointer;

      &:hover {
        outline: none;

        &:before {
          opacity: 1;
        }
      }

      &:before {
        color: #000000;
        content: "\f10c";
        font-size: 12px;
        line-height: bolder;
        text-align: center;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }
}

// RTL
[dir="rtl"] .slick-next {
  right: auto;
  left: -25px;
}

[dir="rtl"] .slick-next:before {
  content: "\2190";
}

[dir="rtl"] .slick-prev {
  right: -25px;
  left: auto;
}

[dir="rtl"] .slick-prev:before {
  content: "\2192";
}

[dir="rtl"] .slick-slide {
  float: right;
}
