<div id="carousel<%= carousel.id %>" class="carousel">
  <% if carousel.show_title %>
  <h3 class="carousel-title"><%= carousel.title %></h3>
  <% end %>
  <div class="slider">
    <% if carousel.group == 'featured' %>
      <% products = Spree::Product.featured.limit(carousel.limit) %>
    <% elsif carousel.group == 'latest' %>
      <% products = Spree::Product.latest.limit(carousel.limit) %>
    <% else %>
      <% products = [] %>
    <% end %>
    <% products = products.shuffle if carousel.randomize %>
    <% products.each do |product| %>
      <%= render partial: 'spree/shared/carousel_item', locals: { product: product } %>
    <% end %>
  </div>
  <div class="slick-arrows"></div>
</div>

<%= render partial: 'spree/shared/carousel_js', locals: { carousel: carousel, sidebar: sidebar } %>
