<div id="carousel<%= carousel.id %>" class="carousel">
  <% if carousel.show_title %>
  <h3 class="carousel-title"><%= carousel.title %></h3>
  <% end %>
  <div class="slider">
    <% if carousel.group == 'featured' %>
      <% items = Spree::Product.featured.limit(5) %>
    <% elsif carousel.group == 'latest' %>
      <% items = Spree::Product.latest.limit(5) %>
    <% else %>
      <% items = [] %>
    <% end %>
    <% items = items.shuffle if carousel.randomize %>
    <% items.each do |item| %>
    <div><%= item.id %></div>
    <% end %>
  </div>
  <div class="slick-arrows"></div>
</div>

<%= render partial: 'spree/shared/carousel_js', locals: { carousel: carousel, vertical: vertical } %>
